<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <script src="https://kit.fontawesome.com/d75c2ffd76.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/admin.css">
<script src="/js/hamburger.js" defer></script>

<nav id="nav">
        {{#if session.adminauth}}
      <div id="navlist">
                <div class="dropdown show nav-item">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Continut 
                        </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/admin/addContentPage"> Adaugare continut </a>
                        <a class="dropdown-item" href="/admin/addCategoryPage"> Adaugare categorie </a>
                        <a class="dropdown-item" href="/admin/addProducerPage"> Adaugare producator  </a>
                        <a class="dropdown-item" href="/admin/addSeriesPage"> Adaugare serial nou </a>
                    </div>
                </div>

                <div class="dropdown show nav-item">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Modificari 
                        </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/admin/addContentSeries"> Adaugare continut intr-un anumit serial </a>
                        <a class="dropdown-item" href="/admin/addProducerContent"> Adaugare producer pt un anumit continut </a>
                        <a class="dropdown-item" href="/admin/addCategoryContent"> Adaugare categorie pt un anumit continut  </a>
                    </div>
                </div>
        </div>
        <button id="hamburger-btn"> hamburger </button> 
        {{/if}}
</nav>

<body>
    {{{body}}}
</body>
</html>