<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>svs-app</title>
    {{#each scripts}} <!-- scripturi pe care le import in template-ul pe care o sa il randez -->
        <script src="{{script}}" defer></script>
    {{/each}}
</head>
<body>
    {{{body}}}
</body>
</html>