<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>svs-app</title>

    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/profiles.css">
    <link rel="stylesheet" href="/css/searchForm.css">
    <script src="/js/profile.js" defer></script>
    
</head>
<body>
    {{{body}}}
</body>
</html>