<div class="container" style="text-align: center;">
<form action="/admin/addProducer" method="post">
    <label for="producerName">Producer name</label>
    <input type="text" name="producerName" id="producerName">
    <input type="submit" value="Add producer">
</form>
</div>