<!-- form for adding a new category -->

<div class="container" style="text-align: center;">
<form action="/admin/addCategory" method="post">
    <label for="categoryName">Category name</label>
    <input type="text" name="categoryName" id="categoryName">
    <input type="submit" value="Add category">
</form>
</div>
