<div class="container" style="text-align: center;">
    <form action="/admin/addSeries" method="post" enctype="multipart/form-data">
        <label for="seriesName">Series name</label>
        <input type="text" name="seriesName" id="seriesName"> <br>

        <label for="seriesSeasons">Number of seasons </label>
        <input type="number" name="seriesSeasons" id="seriesSeasons"><br>

        <label for="seriesThumbnail"> Thumbnail of series </label>
        <input type="file" name="seriesThumbnail" id="seriesThumbnail"><br>

        <input type="submit" value="Add series">
    </form>
</div>