<h1> Admin panel </h1>

<form action="/admin" method="post">
    <input type="text" placeholder="username" name="adminusername">
    <input type="text" placeholder="password" name="adminpassword">
    <input type="submit" value="Log in admin">
</form>



