<link rel="stylesheet" href="/css/content.css">

<h1> Lista mea de filme favorite </h1>
{{#if mylistt}}
    <ul class="contentList">
        {{#each mylistt}}
        <li>
            <a href="/content/viewContent/{{this._id}}"> 
                    <img src="/content/thumbnail/{{this.thumbnail}}" class="contentThumbnail"> 
            </a>
        </li> 
        {{/each}}
    </ul>
{{else}}
    <p> no movies in your list </p>
{{/if}}