
<h2> Filme </h2>
<ul>
    {{#each categories}}
        <ul>
            {{this.name}}
            {{#each this.contentsObjects}} <!-- parcurgem obiectele de tip content-->
                <li>
                     <a href="/content/viewContent/{{this.path}}"> 
                        <img src="http://localhost:3000/content/thumbnail/{{this.thumbnail}}" width="200px" height="100px"> 
                     </a> 
                </li>
            {{/each}}
        </ul>
    {{/each}}
</ul>

<h2> <a href="/content/browse/series"> Seriale </a> </h2>

<a href="../../mylist"> Lista mea de continut </a>

<!-- Editare profil features -->
<br>
<a href="/user/viewProfile"> View my profile </a>