<h1>New index Example App: Welcome {{{userEmail}}}</h1>

<h2> Filme </h2>
<ul>
    {{#each categories}}
        <ul>{{this.name}}
            {{#each this.contentsObjects}} <!-- parcurgem obiectele de tip content-->
                <li> <a href="/content/viewContent/{{this.path}}"> 
                {{this.title}} </a> </li>
            {{/each}}
        </ul>
    {{/each}}
</ul>

<h2> <a href="/content/browse/series"> Seriale </a> </h2>

<a href="../../mylist"> Lista mea de continut </a>

<!-- Editare profil features -->
<br>
<a href="/user/viewProfile"> View my profile </a>