<form action="/authentication/resetpass" method="post">
    <input type="hidden" name="email" value="{{targetMail}}">
    <input type="password" name="pass" id="" placeholder="Set new pass">
    <button type="submit">Set new pass</button>
</form>