<h1>Seriale</h1>

<ul>
    {{#each series}}
        <ul> {{this.name}}
            <li> <a href="/content/viewSeries/{{this._id}}">  <img src="/content/thumbnail/{{this.thumbnail}}" alt="no thumbnail" width="200px" height="100px"> </a> </li>
        </ul>
    {{/each}}
</ul>