<h1> {{categName}}</h1>
<div id="container">
    {{#each serieses}}
        <div class="episode">
                <a href="/content/viewSeries/{{this._id}}"> 
                    <img src="/content/thumbnail/{{this.thumbnail}}" width="300px" height="200px"> 
                </a> 
            </div>
    {{/each}}
</div>