<h1>Profilul userului curent </h1>

<form action="/user/updateProfile" method="post">
<div> <input type="text" value=" {{user.username}}" name="username"> </div>
<div> <input type="text" value=" {{user.email}}" name="email"> </div>
<div> <input type="text" value=" {{user.password}}" name="password"> </div>

<button type="submit"> Edit profile </button>
</form>